body {
  background-color: #00000000;
  color: rgb(156, 161, 163);
  font-family: "Arial", sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.main-bg {
  background-color: #1d1b23;
}

.sidebar {
  border-radius: 0;
  background-color: #1d1b23;
  height: 100vh;
  border: 1px solid;
  resize: horizontal;
  max-width: 200px;
  min-width: 190px; /* Độ rộng tối thiểu */
  overflow: auto;
  flex-shrink: 0;
}
.content {
  min-width: 500px;
  flex-grow: 1; /* Phần còn lại chiếm toàn bộ không gian */
  padding: 2px;
}

.logo {
  display: grid;
  place-items: center;
  margin: 1rem;
}
/* Điều chỉnh chung cho top-bar */
.top-bar {
  width: 100%;
  height: 40px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  background: transparent !important;
  background: linear-gradient(40deg, #ff0080, #ff8c00 100%);
}

/* Đảm bảo drag-area co giãn để chiếm toàn bộ không gian còn lại */
.drag-area {
  flex-grow: 1; /* Cho phép phần này mở rộng theo kích thước cửa sổ */
  height: 100%;
  -webkit-app-region: drag;
}

/* Căn chỉnh nút cửa sổ */
.window-controls {
  display: flex;
  gap: 10px;
}

.window-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.window-btn img.icon {
  width: 16px;
  height: 16px;
}

/* Hiệu ứng hover cho nút */
.window-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.close-btn:hover {
  background-color: rgba(224, 49, 49, 0.378);
}

.nav-item:hover {
  background-color: rgb(33, 31, 39);
  border-radius: 10%;
}
.nav-item:before {
  background-color: rgb(33, 31, 39);
  border-radius: 10%;
}

.nav-item:active {
  background-color: rgb(33, 31, 39);
  border-radius: 10%;
}

.text-light {
  color: #f5f5f5;
}

.my-files h5 {
  font-size: 16px;
  margin-bottom: 20px;
}

.nav-link {
  color: #2f2fc1;
  margin-bottom: 10px;
}

.nav-link:hover {
  color: white;
}

.input-url {
  border-radius: 20px;
  min-width: auto;
}

.format-radio {
  display: flex;
}

#downloadBtn {
  margin-right: 20px;
}

.more-settings {
  background-color: #272526;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

#startTime,
#endTime,
#formatFile {
  position: relative;
  margin: 12px;
  max-height: 30px;
  min-width: 90px;
}

.file-list h5 {
  font-size: 18px;
}
.btn {
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.35em;
  padding: 0.75em 1em;
  color: #000000;
  border: 1px solid transparent;
  font-weight: 700;
  border-radius: 2em;
  font-size: 1rem;
  box-shadow: 0 0.7em 1.5em -0.5em hsla(357, 45%, 35%, 0.745);
  transition: transform 0.3s;
  max-width: 200px;
  background: linear-gradient(
    90deg,
    rgb(240, 8, 8) 0%,
    rgb(206, 122, 122) 100%
  );
}

.btn__icon {
  width: 1.5em;
  height: 1.5em;
}

.btn:hover {
  border-color: #f4f5f2;
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 0 0.5em 1.5em -0.5em hsla(334, 87%, 41%, 0.745);
}
/* From Uiverse.io by Pradeepsaranbishnoi */

.input-url {
  min-width: 40%;
  margin: 4px;
  margin-left: 15px;
}
.input-url::selection {
  background-color: #ee3636;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.576);
}

.main-content {
  display: flex;
  justify-content: center; /* Căn giữa theo trục ngang */
  align-items: center; /* Căn giữa theo trục dọc (nếu có chiều cao) */
}
.video-show {
  display: flexbox;
  position: relative;
  justify-content: center;
  margin-top: 0;
  width: 100%;
  height: 100%;
}

:root {
  --size: 0.3; /* Tùy chỉnh giá trị này để tăng/giảm kích thước */
}

/* Main Circle */
.main-circle {
  width: calc(40rem * var(--size));
  height: calc(40rem * var(--size));
  border-radius: 100%;
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -70%);
}

/* Content Circle */
.circle {
  position: relative;
  border-radius: 100%;
  width: calc(8rem * var(--size));
  height: calc(8rem * var(--size));
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  margin: auto;
}

.crescent {
  position: absolute;
  border-radius: 100%;
  right: 0;
  width: calc(6rem * var(--size));
  height: calc(6rem * var(--size));
  background: white;
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

label,
.toggle {
  height: calc(1.5rem);
  border-radius: 100px;
}

label {
  display: flex;
  justify-self: center;
  width: 100%;
  max-width: 200px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  margin: auto;
  margin-top: 1rem;
}

.toggle {
  position: absolute;
  width: 50%;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.names {
  font-weight: bolder;
  color: black;
  width: 65%;
  margin-left: 17.5%;
  margin-top: calc(1% * var(--size));
  position: absolute;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

/* Switch Styles */
[type="checkbox"]:checked + .app .toggle {
  transform: translateX(100%);
  background-color: #34323d;
}

[type="checkbox"]:checked + .app .dark {
  opacity: 1;
  color: white;
}

[type="checkbox"]:checked + .app .light {
  opacity: 1;
  color: white;
}

[type="checkbox"]:checked + .app .body {
  background-color: #1d1b23;
  color: white;
}

[type="checkbox"]:checked + .app .crescent {
  transform: scale(1);
  background: #1d1b23;
}

[type="checkbox"]:checked + .app .circle {
  background: linear-gradient(40deg, #8983f7, #a3dafb 70%);
}

[type="checkbox"]:checked + .app .main-circle {
  background: linear-gradient(40deg, #8983f7, #a3dafb 70%);
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}
/* From Uiverse.io by Pradeepsaranbishnoi */
.radio-button {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px;
  position: relative;
  align-items: center;
  color: white;
  background: transparent;
}

.radio-button input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #56203f;
  box-shadow: 0px 0px 5px rgba(89, 20, 74, 0.356);
  transform: translateZ(-25px);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.radio::before {
  position: absolute;

  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.radio-button input[type="radio"]:checked + .radio {
  border-color: #f48042;
  background-color: #eb4261;
}

.radio-button input[type="radio"]:checked + .radio::before {
  opacity: 1;
}
